<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="gz_link" params="name mu1 mu2 kp kd maxVel dampingFactor">

        <gazebo reference="${name}_link">
            <visual>
                <material>
                    <diffuse>0 0 1 1 </diffuse>
                </material>
            </visual>
            <mu1 value="${mu1}"/>
            <mu2 value="${mu2}"/>
            <kp value="${kp}" />
            <kd value="${kd}" />
            <maxVel value="${maxVel}"/>
            <dampingFactor value="${dampingFactor}"/>
        </gazebo>

    </xacro:macro>

    <xacro:macro name="gz_joint" params="name isd s_stiff s_ref stopErp stopCfm">

        <gazebo reference="${name}_joint">
            <implicitSpringDamper>${isd}</implicitSpringDamper>
            <springStiffness>${s_stiff}</springStiffness>
            <springReference>${s_ref}</springReference>
            <stopErp>${stopErp}</stopErp>
            <stopCfm>${stopCfm}</stopCfm>
        </gazebo>

    </xacro:macro>

    <xacro:gz_joint name="shaft" isd="${implicitSpringDamper_value}" s_stiff="${springStiffness_value}" 
                    s_ref="${springReference_value}" stopErp="${stopErp_value}" stopCfm="${stopCfm_value}" />

    <gazebo reference="base_link">
        <kinematic>true</kinematic>
    </gazebo>

</robot>